.custom-button {
    pointer-events: none;
    margin-right: 10px;
}
.score-notification-red {
    background-color: red;
    color: black;
}
.score-notification-yellow {
    background-color: yellow;
    color: black
}
.score-notification-green {
    background-color: green;
    color: black
}